
.bg{
    background-color: rgb(255, 255, 255);
    font-size: xx-large;
    font-family: sans-serif;
}

.text{
    font-weight: 700;
    color: black;
}

.order-horizontal{
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 100px;
}

.outline-box{
    display: flex;
    outline: 10px solid rgb(0, 0, 0);
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 10px;
}

#about-me{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#skills{
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
}

h1{
    padding: 0;
}

#about-me-text{
    margin-top: 0;
    margin-bottom: 0;
}

#skills-text{
    margin-top: 0;
    margin-bottom: 0;
}

#pictures {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

.images{
    margin-left: auto;
    margin-right: auto;
}


ul {
    list-style-type: none;
    margin: 0  ;
    padding: 0;
    
}

.navbar {
    background-color: black;
    color: white;
    overflow: hidden;
}